doctype html
html
  head
    title UCS Account Activated
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
  body
    div.bg-top
      div.card
        h1 ✅ UCS Account Activated!
        p #{message}.
        button#closeBtn Close
      script(src="/js/activate-success.js")