doctype html
html
  head
    title Account Activated
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
  body
    div.bg-top
      div.card
        h1 ✅ Account Activated!
        p Your account has been successfully activated.
        button#closeBtn Close
      script(src="/js/activate-success.js")