doctype html
html
  head
    title Set UCS Password
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
  body
    div.bg-top
      if alert
        div.alert
          strong ⚠️ #{message}

      div.card
        h1 Activate Your Account
        form(action=`/api/v1/user/chw/activate/${slug}` method="POST")
          input(type="hidden" name="slug" value=slug)
          label(for="password") New Password:
          input(type="password" name="password" required)
          label(for="confirmPassword") Confirm Password:
          input(type="password" name="confirmPassword" required)
          button(type="submit") Set Password